<div class="bootstrap-wrapper main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img class="logo" src="../../../assets/logo.jpg" alt="" />
          </div>
          <h1 class="text-center mt-20">Registration</h1>
          <!-- {{ user | json }} -->
          <form (ngSubmit)="formSubmit()">
            <!-- Username field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label class="text-color">User Name</mat-label>
              <input
                required
                [(ngModel)]="user.username"
                name="username"
                class="text-color"
                matInput
                placeholder="Enter your Username"
              />
              <mat-hint>Username must be unique</mat-hint>
            </mat-form-field>

            <!-- password field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label class="text-color">Password</mat-label>
              <input
                required
                [(ngModel)]="user.password"
                name="password"
                class="text-color"
                type="password"
                matInput
                placeholder="Enter your password"
              />
            </mat-form-field>

            <!-- First Name field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label class="text-color">First Name</mat-label>
              <input
                required
                [(ngModel)]="user.firstName"
                name="firstName"
                class="text-color"
                matInput
                placeholder="Enter your First Name"
              />
            </mat-form-field>

            <!-- Last Name field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label class="text-color">Last Name</mat-label>
              <input
                required
                [(ngModel)]="user.lastName"
                name="lastName"
                class="text-color"
                matInput
                placeholder="Enter your Last Name"
              />
            </mat-form-field>

            <!-- Email field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label class="text-color">Email</mat-label>
              <input
                required
                [(ngModel)]="user.email"
                name="email"
                class="text-color"
                matInput
                placeholder="Enter your Email"
              />
            </mat-form-field>

            <!-- Phone Number field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label class="text-color">Phone Number</mat-label>
              <input
                required
                [(ngModel)]="user.phone"
                name="phone"
                class="text-color"
                matInput
                placeholder="Enter your Phone Number"
              />
            </mat-form-field>

            <div class="container text-center">
              <button mat-raised-button color="primary">Registor</button>
              <button
                style="margin-left: 20px"
                mat-raised-button
                color="accent"
              >
                Clear
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
